<h1>All Genres</h1>

<% @genres.each do |genre| %>
  <%= genre.name %>
<% end %>

<% if current_user.admin? %>
  <p>Create a new genre</p>
   <%= form_for @genre do |f| %>
     <%= f.label :name %>
     <%= f.text_field :name %>
     <%= f.submit %>
   <% end %>
<% end %>
